@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!--Change heading and font of heading-->
    <h1 class="display-4" style="font-family:cursive;">Movies</h1>
    <!--Add image realated to movies in the home page -->
   <img src="~/lib/Images/poster.jpg" >
    <!--Add paragraph related to movies-->
   <p style="font-family:cursive; text-align:justify;">
       The movie industry as we know it today originated in the early 19th century through a series of technological developments: the creation of photography, the discovery of the illusion of motion by combining individual still images, and the study of human and animal locomotion. The history presented here begins at the culmination of these technological developments, where the idea of the motion picture as an entertainment industry first emerged. Since then, the industry has seen extraordinary transformations, some driven by the artistic visions of individual participants, some by commercial necessity, and still others by accident. The history of the cinema is complex, and for every important innovator and movement listed here, others have been left out. Nonetheless, after reading this section you will understand the broad arc of the development of a medium that has captured the imaginations of audiences worldwide for over a century.
   </p>
</div>
